<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cage</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<a th:href="@{/}">Go home</a>
<h1>Welcome to Cage!</h1>

<hr>

<h3>All animals:</h3>
<p th:text="${animalsInCage}"></p>

<hr>

<div class="addAnimalFormWrapper">
    <form class="addAnimalForm" th:action="@{/places/cage/add}" method="post" th:object="${addAnimalRequest}">
        <input type="text" th:field="*{animalName}" list="cageList">
        <datalist id="cageList">
            <option value="Tiger">Tiger</option>
            <option value="Fox">Fox</option>
            <option value="Penguin">Penguin</option>
            <option value="Turtle">Turtle</option>
            <option value="Wolf">Wolf</option>
        </datalist>

        <input type="number" th:field="*{animalNumber}" name="number" class="numberOfAnimals" placeholder="Number of animals"
               th:value="1" th:min="1">
        <input type="submit">
        <input type="reset">
    </form>
</div>

</body>
</html>