<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Habitat</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<h1>Welcome to Habitat!</h1>

<hr>

<h3>All animals:</h3>
<p th:text="${animalsInHabitat}"></p>

<hr>

<div class="addAnimalFormWrapper">
    <form class="addAnimalForm" th:action="@{/places/habitat/add}" method="post" th:object="${habitatRequest}">
        <input type="text" th:field="*{animalName}">
        <input type="number" th:field="*{animalNumber}" name="number" class="numberOfAnimals" placeholder="Number of animals"
               th:value="1"
               th:min="1">
        <input type="submit">
        <input type="reset">
    </form>
</div>

</body>
</html>