<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wolf Cage</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<a th:href="@{/}">Go home</a>
<h1>Welcome to Wolf Cage!</h1>

<hr>

<h3>All animals:</h3>
<p th:text="${animalsInWolfCage}"></p>

<hr>

<div class="addAnimalFormWrapper">
    <form class="addAnimalForm" th:action="@{/places/wolfCage/add}" method="post" th:object="${addAnimalRequest}">
        <input type="text" th:field="*{animalName}" list="tigerCageList">
        <datalist id="tigerCageList">
            <option value="Wolf">Wolf</option>
        </datalist>

        <input type="number" th:field="*{animalNumber}" name="number" class="numberOfAnimals" placeholder="Number of animals"
               th:value="1" th:min="1">
        <input type="submit">
        <input type="reset">
    </form>
</div>

</body>
</html>